Repository nstarman/overload_numpy, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, GitHub, Docs

.github/labeler.yml:

# Infrastructure Labels
Infrastructure:
  - .github/**/*
  - .pre-commit-config.yaml
  - .readthedocs.yml
  - setup.py
  - .flake8
  - .gitignore
  - pyproject.toml

GitHub:
  - .github/**/*

# Docs Labels
Docs:
  - docs/**/*

Add tox testing
  .flake8
  README.rst
  docs/index.rst
  licenses/LICENSE.rst
  tests/conftest.py
  tox.ini
Labels: Infrastructure, Docs

Add default to types in implements
  src/overload_numpy/constraints.py
  src/overload_numpy/overload.py
Labels: none

fix docs
  src/overload_numpy/constraints.py
Labels: none

coverage configuration
  pyproject.toml
Labels: Infrastructure

coverage configuration
  pyproject.toml
Labels: Infrastructure

Add tox testing
  .flake8
  README.rst
  docs/index.rst
  licenses/LICENSE.rst
  tests/conftest.py
  tox.ini
Labels: Infrastructure, Docs

Add default to types in implements
  src/overload_numpy/constraints.py
  src/overload_numpy/overload.py
Labels: none

fix docs
  src/overload_numpy/constraints.py
Labels: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: Infrastructure, GitHub

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: Infrastructure, GitHub

set version for test upload to pypi
  pyproject.toml
Labels: Infrastructure

Create python-publish.yml
  .github/workflows/python-publish.yml
Labels: Infrastructure, GitHub

set version for test upload to pypi
  pyproject.toml
Labels: Infrastructure

Create python-publish.yml
  .github/workflows/python-publish.yml
Labels: Infrastructure, GitHub

fix project info
  README.rst
  pyproject.toml
Labels: Infrastructure

fix project info
  README.rst
  pyproject.toml
Labels: Infrastructure

From `black`
  .github/workflows/python-publish.yml
Labels: Infrastructure, GitHub

Create SECURITY.md
  SECURITY.md
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

From `black`
  .github/workflows/python-publish.yml
Labels: Infrastructure, GitHub

add cibuildwheel config
  .github/mypyc-requirements.txt
  .github/workflows/python-publish.yml
  licenses/LICENSE.rst
  pyproject.toml
Labels: Infrastructure, GitHub

add cibuildwheel config
  .github/mypyc-requirements.txt
  .github/workflows/python-publish.yml
  licenses/LICENSE.rst
  pyproject.toml
Labels: Infrastructure, GitHub

Add test pypi for iteration
  .github/workflows/upload-testpypi.yml
Labels: Infrastructure, GitHub

Add manual trigger
  .github/workflows/upload-testpypi.yml
Labels: Infrastructure, GitHub

add docs examples
  .github/workflows/ci_tests.yml
  docs/.gitignore
  docs/Makefile
  docs/_static/theme.css
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/references.txt
  pyproject.toml
  tests/conftest.py
Labels: Infrastructure, GitHub, Docs

Create dependabot.yml
  .github/dependabot.yml
Labels: Infrastructure, GitHub

add wheel tests to CI
  .github/mypyc-requirements.txt
  .github/test-requirements.txt
  .github/workflows/ci_tests.yml
  .github/workflows/publish.yml
  conftest.py
  docs/conf.py
  pyproject.toml
  setup.py
  src/overload_numpy/__init__.py
  src/overload_numpy/constraints.py
  src/overload_numpy/dispatch.py
  src/overload_numpy/mixin.py
  src/overload_numpy/npinfo.py
  src/overload_numpy/overload.py
  tests/integration/test_array_wrapper.py
  tests/unit/test_constraints.py
  tests/unit/test_dispatch.py
  tests/unit/test_npinfo.py
  tests/unit/test_overload.py
Labels: Infrastructure, GitHub, Docs

build many, fail fast
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

test on publish as well
  .github/workflows/publish.yml
Labels: Infrastructure, GitHub

Update README.rst
  README.rst
Labels: none

Update README.rst (#18)
  README.rst
Labels: none

add dispatch_on to npinfo
  src/overload_numpy/dispatch.py
  src/overload_numpy/npinfo.py
  src/overload_numpy/overload.py
  tests/unit/test_npinfo.py
Labels: none

add changelog entry
  CHANGES.rst
Labels: none

ignore type check blocks
  pyproject.toml
Labels: Infrastructure

cleanup tests for coverage
  .github/workflows/ci_tests.yml
  src/overload_numpy/constraints.py
  src/overload_numpy/npinfo.py
  tests/unit/test_constraints.py
  tests/unit/test_npinfo.py
  tox.ini
Labels: Infrastructure, GitHub

make arguments positional-only
  CHANGES.rst
  src/overload_numpy/constraints.py
  src/overload_numpy/dispatch.py
  src/overload_numpy/npinfo.py
  src/overload_numpy/overload.py
Labels: none

Add assists
  setup.py
  src/overload_numpy/assists.py
  src/overload_numpy/overload.py
Labels: Infrastructure

make func hook more obvious
  src/overload_numpy/overload.py
Labels: none

add serialization tests
  tests/unit/test_constraints.py
  tests/unit/test_dispatch.py
  tests/unit/test_npinfo.py
  tests/unit/test_overload.py
Labels: none

change isort section name
  pyproject.toml
  src/overload_numpy/mixin.py
  src/overload_numpy/npinfo.py
  tests/integration/test_array_wrapper.py
  tests/unit/test_constraints.py
  tests/unit/test_dispatch.py
  tests/unit/test_npinfo.py
  tests/unit/test_overload.py
Labels: Infrastructure
