Repository nstarman/overload_numpy, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, GitHub, Docs

.github/labeler.yml:

# Infrastructure Labels
Infrastructure:
  - .github/**/*
  - .pre-commit-config.yaml
  - .readthedocs.yml
  - setup.py
  - .flake8
  - .gitignore
  - pyproject.toml

GitHub:
  - .github/**/*

# Docs Labels
Docs:
  - docs/**/*

move pytest config
  pyproject.toml
  tox.ini
Labels: Infrastructure

freeze TypeConstraints
  src/overload_numpy/assists.py
  src/overload_numpy/constraints.py
  src/overload_numpy/npinfo.py
  tests/integration/test_array_wrapper.py
  tests/unit/test_npinfo.py
Labels: none

`_NumPyInfo` is renamed to `_NumPyFuncOverloadInfo`
  tests/integration/test_array_wrapper.py
  tests/unit/test_dispatch.py
  tests/unit/test_npinfo.py
Labels: none

Add rst epilog substitutions
  docs/conf.py
Labels: Docs

cleanup
  CHANGES.rst
  README.rst
  docs/conf.py
  docs/index.rst
  src/overload_numpy/__init__.py
  src/overload_numpy/assists.py
  src/overload_numpy/constraints.py
  src/overload_numpy/dispatch.py
  src/overload_numpy/mixin.py
  src/overload_numpy/npinfo.py
  src/overload_numpy/overload.py
Labels: Docs

add docs
  README.rst
  docs/contributing.rst
  docs/docs.rst
  docs/index.rst
  docs/install.rst
  docs/src/constraints.rst
  docs/src/index.rst
  docs/testing.rst
  src/overload_numpy/mixin.py
Labels: Docs

npfunc categories
  src/overload_numpy/npfunc_categories.py
  tests/integration/test_npfunc_categories.py
Labels: none

pass calling type, not dispatch_on
  CHANGES.rst
  src/overload_numpy/assists.py
  src/overload_numpy/mixin.py
Labels: none

replace key with str
  CHANGES.rst
  src/overload_numpy/mixin.py
  src/overload_numpy/overload.py
  tests/integration/test_array_wrapper.py
Labels: none

serializable covered by interpretable.
  src/overload_numpy/constraints.py
  src/overload_numpy/mixin.py
  src/overload_numpy/npinfo.py
Labels: none

Update README.rst
  README.rst
Labels: none

Update README.rst (#28)
  README.rst
Labels: none

pre-commit improvements
  .pre-commit-config.yaml
Labels: Infrastructure

Test fewer wheels in PRs
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

Update dependencies and configuration
  .github/test-requirements.txt
  py.typed
  pyproject.toml
  setup.py
  tox.ini
Labels: Infrastructure, GitHub

Refactor to add ufunc support
  setup.py
  src/overload_numpy/__init__.py
  src/overload_numpy/_typeutils.py
  src/overload_numpy/assists.py
  src/overload_numpy/constraints.py
  src/overload_numpy/dispatch.py
  src/overload_numpy/mixin.py
  src/overload_numpy/npinfo.py
  src/overload_numpy/overload.py
  src/overload_numpy/utils.py
  src/overload_numpy/wrapper/__init__.py
  src/overload_numpy/wrapper/dispatch.py
  src/overload_numpy/wrapper/func.py
  src/overload_numpy/wrapper/many.py
  src/overload_numpy/wrapper/ufunc.py
  tests/integration/test_array_wrapper.py
  tests/integration/test_constrained_wrapper.py
  tests/integration/test_simple_wrapper.py
  tests/unit/test_dispatch.py
  tests/unit/test_npinfo.py
  tests/unittests/__init__.py
  tests/unittests/data.py
  tests/unittests/test_constraints.py
  tests/unittests/test_mixin.py
  tests/unittests/test_overload.py
  tests/unittests/test_utils.py
  tests/unittests/wrapper/__init__.py
  tests/unittests/wrapper/test_base.py
  tests/unittests/wrapper/test_dispatch.py
  tests/unittests/wrapper/test_func.py
  tests/unittests/wrapper/test_many.py
  tests/unittests/wrapper/test_ufunc.py
Labels: Infrastructure

Docs
  README.rst
  docs/conf.py
  docs/contributing.rst
  docs/getting_started.rst
  docs/index.rst
  docs/install.rst
  docs/references.txt
  docs/src/constraints.rst
  docs/src/conventions.rst
  docs/src/index.rst
  docs/src/mixin.rst
  docs/src/register.rst
Labels: Docs

add recent numpy versions
  .github/workflows/ci_tests.yml
  conftest.py
  tox.ini
Labels: Infrastructure, GitHub

move py.typed
  py.typed
  src/overload_numpy/py.typed
Labels: none

Make Many use dicts for introspection
  README.rst
  src/overload_numpy/overload.py
  src/overload_numpy/utils.py
  src/overload_numpy/wrapper/func.py
  src/overload_numpy/wrapper/many.py
  src/overload_numpy/wrapper/ufunc.py
  tests/unittests/wrapper/test_func.py
  tests/unittests/wrapper/test_ufunc.py
Labels: none

docstring improvements
  .pre-commit-config.yaml
  docs/conf.py
  src/overload_numpy/__init__.py
  src/overload_numpy/_typeutils.py
  src/overload_numpy/constraints.py
  src/overload_numpy/overload.py
  src/overload_numpy/utils.py
  src/overload_numpy/wrapper/__init__.py
  src/overload_numpy/wrapper/dispatch.py
  src/overload_numpy/wrapper/func.py
  src/overload_numpy/wrapper/many.py
  src/overload_numpy/wrapper/ufunc.py
  tests/integration/__init__.py
  tests/integration/test_simple_wrapper.py
  tests/unittests/__init__.py
  tests/unittests/test_mixin.py
  tests/unittests/test_overload.py
  tox.ini
Labels: Infrastructure, Docs

rename submodule
  setup.py
  src/overload_numpy/implementors/__init__.py
  src/overload_numpy/implementors/dispatch.py
  src/overload_numpy/implementors/func.py
  src/overload_numpy/implementors/many.py
  src/overload_numpy/implementors/ufunc.py
  src/overload_numpy/mixin.py
  src/overload_numpy/overload.py
  tests/unittests/wrapper/test_base.py
  tests/unittests/wrapper/test_dispatch.py
  tests/unittests/wrapper/test_func.py
  tests/unittests/wrapper/test_ufunc.py
Labels: Infrastructure

renames
  src/overload_numpy/implementors/func.py
  src/overload_numpy/implementors/ufunc.py
  src/overload_numpy/overload.py
Labels: none

fix readme
  README.rst
Labels: none

avoid using typing_extensions
  src/overload_numpy/implementors/ufunc.py
Labels: none

avoid using typing_extensions (#35)
  src/overload_numpy/implementors/ufunc.py
Labels: none

Add anaconda upload
  .github/workflows/ci_tests.yml
  .github/workflows/publish.yml
Labels: Infrastructure, GitHub

Add TestPyPI to pure wheel building
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

bump version
  pyproject.toml
Labels: Infrastructure

Update ci_tests.yml
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

Change pre-commit to monthly updates
  .pre-commit-config.yaml
Labels: Infrastructure

Update ci_tests.yml (#40)
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

fail slow
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

update and apply pre-commit
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  conftest.py
  docs/conf.py
  pyproject.toml
  setup.py
  src/overload_numpy/__init__.py
  src/overload_numpy/_typeutils.py
  src/overload_numpy/constraints.py
  src/overload_numpy/implementors/dispatch.py
  src/overload_numpy/implementors/func.py
  src/overload_numpy/implementors/many.py
  src/overload_numpy/implementors/ufunc.py
  src/overload_numpy/mixin.py
  src/overload_numpy/overload.py
  src/overload_numpy/utils.py
  tests/integration/test_simple_wrapper.py
  tests/unittests/data.py
  tests/unittests/test_constraints.py
  tests/unittests/test_mixin.py
  tests/unittests/test_overload.py
  tests/unittests/test_utils.py
  tests/unittests/wrapper/test_base.py
  tests/unittests/wrapper/test_dispatch.py
  tests/unittests/wrapper/test_func.py
  tests/unittests/wrapper/test_many.py
  tests/unittests/wrapper/test_ufunc.py
  tox.ini
Labels: Infrastructure, GitHub, Docs

Add py3.11
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  tox.ini
Labels: Infrastructure, GitHub

tox 4 commas
  tox.ini
Labels: none

ignore an unreachable for mypyc
  .pre-commit-config.yaml
  src/overload_numpy/implementors/func.py
  src/overload_numpy/overload.py
Labels: Infrastructure

Update upload-testpypi.yml
  .github/workflows/upload-testpypi.yml
Labels: Infrastructure, GitHub

Update upload-testpypi.yml (#46)
  .github/workflows/upload-testpypi.yml
Labels: Infrastructure, GitHub

Ignore use of pickle in the test suite.
  pyproject.toml
Labels: Infrastructure
