Repository nstarman/overload_numpy, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, GitHub, Docs

.github/labeler.yml:

# Infrastructure Labels
Infrastructure:
  - .github/**/*
  - .pre-commit-config.yaml
  - .readthedocs.yml
  - setup.py
  - .flake8
  - .gitignore
  - pyproject.toml

GitHub:
  - .github/**/*

# Docs Labels
Docs:
  - docs/**/*

fix ruff TD rules
  .github/test-requirements.txt
  pyproject.toml
  setup.py
  src/overload_numpy/_typeutils.py
  src/overload_numpy/constraints.py
  src/overload_numpy/implementors/func.py
  src/overload_numpy/implementors/ufunc.py
  src/overload_numpy/mixin.py
  src/overload_numpy/overload.py
  tests/integration/test_constrained_wrapper.py
  tests/integration/test_simple_wrapper.py
  tests/unittests/test_overload.py
  tests/unittests/wrapper/test_dispatch.py
  tests/unittests/wrapper/test_func.py
  tests/unittests/wrapper/test_ufunc.py
Labels: Infrastructure, GitHub

Update dependabot.yml
  .github/dependabot.yml
Labels: Infrastructure, GitHub

Update dependabot.yml (#50)
  .github/dependabot.yml
Labels: Infrastructure, GitHub

bump ubuntu os
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/overload_numpy/implementors/many.py
  tox.ini
Labels: Infrastructure, GitHub

bump ubuntu os (#51)
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/overload_numpy/implementors/many.py
  tox.ini
Labels: Infrastructure, GitHub

Use OpenAstronomy GH actions
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

Use OpenAstronomy GH actions (#52)
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

fix ruff codes
  pyproject.toml
  src/overload_numpy/implementors/func.py
Labels: Infrastructure

fix spellings
  CHANGES.rst
  pyproject.toml
  src/overload_numpy/overload.py
Labels: Infrastructure

don’t use system_packages
  .readthedocs.yml
  docs/rtd_environment.yaml
Labels: Infrastructure, Docs

false
  .readthedocs.yml
Labels: Infrastructure
